{
  "extends": "tipsi",
  "globals": {
    "device": false,
    "expect": false,
    "waitFor": false,
    "element": false,
    "by": false,
    "describe": false,
    "it": false,
    "before": false
  },
  "rules": {
    "semi": [2, "never"],
    "arrow-body-style": "off",
    "no-console": "off",
    "import/prefer-default-export": "off",
    "react/sort-comp": "off"
  }
}
